<div class="container target" id="profile-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4" id="profile-design">
      <div class="profile-card">
        <div class="user-pic">
          <a href="/users" class="avatar-user">
            <%= cl_image_tag(@profile.photo, :transformation=>[{:width=>1200, :height=>1200, :gravity=>"face", :radius=>"max", :crop=>"crop"},]) %>
          </a>
        </div>
        <div class="pen">
          <i class="fas fa-pen"></i>
        </div>
        <div class="">
          <h3 id="profile-name"><%= @profile.first_name %> <%= @profile.last_name  %></h3>
        </div>
        <ul class="list-group" id="top-border">
          <li class="list-group-item text-muted" contenteditable="false" id="company-name"><p>Company</p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">location</strong></span><span id="right-side"><%= @profile.location%></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">job title</strong></span><span id="right-side"> <%= @profile.job_title %></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">department </strong></span><span id="right-side"><%= @profile.department %></span></p></li>
          <li class="list-group-item text-muted" id="top-border"><span><p><strong class="group-name"></strong></span><span id="right-side"></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">lunch typ</strong></span><span id="right-side">outside</span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">lunches</strong></span><span id="right-side"> 10</span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">messages</strong></span><span id="right-side">3</span></p></li>
          <li class="list-group-item text-muted" id="top-border"><span><p><strong class="group-name"></strong></span><span id="right-side"></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">description</strong></span><span id="right-side"></span></p></li>
          <p id="descr">Jesus, also referred to as Jesus of Nazareth and Jesus Christ, was a first-century Jewish preacher and religious leader. He is the central figure of Christianity. Most Christians believe he is the incarnation of God the Son and the awaited Messiah prophesied in the Old</p>
        </ul>
        <div>
          <div class="panel-body" id="top-icons">
            <i class="fab fa-facebook fa-3x"></i>
            <i class="fab fa-linkedin fa-3x"></i>
            <i class="fab fa-xing-square fa-3x"></i>
            <i class="fab fa-google-plus fa-3x"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" contenteditable="false" id="date-card">
       <div class="lunch-date">
          <h1>Your Next Lunch Date</h1>
          <h4>WED. AUG. 29. | LUNCH TYPE  outside | Ask Phil</h4>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="review-cards">
              <div class="thumbnail avatar-user">
                <img alt="300x200" src="https://source.unsplash.com/200x200/?lunch">
                <div class="caption">
                  <section>
                    <div class="col-md-12">
                      <div class="panel-group"  id="lunch-profile">
                        <div class="panel panel-default">
                          <div class="accordion-toggle question-toggle collapsed" data-parent="#faqAccordion" data-target="#question0" data-toggle="collapse">
                            <h3 class="panel-name">
                            <a href="#question0" name="question0" class="panel-head"></a>
                              Phil Schiller <i class="fas fa-angle-down arrow"></i>
                            </h3>
                          </div>
                          <div class="panel-collapse collapse" id="question0">
                            <div class="panel-lunch">
                              <h4>Head of marketing</h4>
                              <p>Marketing</p>
                              <hr id="hr-conf">
                              <p> Phil Schiller was born in Natick, Massachusetts, on June 8, 1960. Schiller graduated from Boston College in 1982, with a Bachelor of Science degree in Biology. He has held a variety of corporate positions such as Vice President of Macromedia, in San Francisco; Director of Product Marketing at FirePower Systems.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div class="icons-lunch-date">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-xing-square"></i>
                    <i class="fab fa-google-plus"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= link_to "Confirm", profile_path(current_user), class: "btn btn-primary" %>
          </div>
        </div>
        <div class="form-post">
          <h1>New Lunch Request</h1>
          <%= simple_form_for [@profile, @request], method: :get, url: profile_path do |t| %>
          <div class="row">
            <div class="col-xs-6 form-match" id="input-req">
              <%= t.input :location, required: false, placeholder: "Location", as: :string, input_html: { id: "end_date" } %>
            </div>
            <div class="col-xs-6 form-match" id="input-req">
              <%= t.input :kind, required: false, placeholder: "Category", collection: ["Delivery", "Restaurant", "Cafeteria"], class: "collection_form", prompt: "Select Lunch Category" %>
            </div>
          </div>
          <!-- Inject categories here -->
          <br>
          <div class="form-group">
            <div class="header-line">
              <p class="header-line" style="text-align: center; background-color: #fff !important;">
                <span id="select-date" style="background-color: #fff !important;">Please select your next lunch date</span>
              </p>
            </div>
            <!-- <input type="hidden" name="post" value=""> -->
            <div class="day-choices">
              <% @next_days.each do |day| %>
                <input type="checkbox" class="hidden" value="<%= day %>" name="day[]" id="post_days_<%= day %>">
                <label class="day-choice" for="post_days_<%= day %>">
                  <%= day.strftime("%a") %>
                  <br>
                  <%= day.strftime("%b %d") %>
                  <br>
                  <i class="fas fa-check" id="check"></i>
                </label>
              <% end %>
            </div>
          </div>
          <%=  t.submit "Request Lunch", class: "btn btn-primary btn-block", id: "btt" %>
          <% end %>
        </div>
        <div class="form-post" id="messages">
          <h1>Messages</h1>
          <i class="far fa-edit"></i>
          <div class="row message-cards avatar-user">
            <div class="">
              <img alt="300x200" src="https://source.unsplash.com/300x200/?portrait" class="avatar-user">
              <div class="caption">
                <h3>
                  Robert Lewandowski
                </h3>
                <p>
                  "Gonna score next game, I promise!"
                </p>
                <h4>Mittwoch</h4>
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
          <hr>
          <div class="row message-cards avatar-user">
            <div class="">
              <div class="caption">
                <div class="img-review">
                  <img alt="300x200" src="https://source.unsplash.com/300x200/?face">
                </div>
                <h3>
                  Frank Ribery
                </h3>
                <p>
                  "Do you like to lunch sometime soon?"
                </p>
                <h4>Dienstag</h4>
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
          <hr>
          <div class="row message-cards avatar-user">
            <div class="">
              <img alt="200x200" src="https://source.unsplash.com/200x200/?profile">
              <div class="caption">
                <h3>
                  Arjen Robben
                </h3>
                <p>
                  "Pls tell me the name of the restaurant again."
                </p>
                <h4>Montag</h4>
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
