<div class="container target" id="profile-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4" id="profile-design">
      <div class="profile-card">
        <div class="user-pic">
          <div class="avatar-user">
            <%= cl_image_tag(@profile.photo, :transformation=>[{:width=>1200, :height=>1200, :gravity=>"face", :radius=>"max", :crop=>"crop"}]) %>
          </div>
        </div>
        <div class="pen">
          <%= link_to edit_profile_path do %>
          <i class="fas fa-pen"></i>
          <% end  %>
        </div>
        <div class="">
          <h3 id="profile-name"><%= @profile.first_name %> <%= @profile.last_name  %></h3>
        </div>
        <ul class="list-group" id="top-border">
          <li class="list-group-item text-muted" contenteditable="false" id="company-name"><p>Company</p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">location</strong></span><span id="right-side"><%= @profile.location%></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">job title</strong></span><span id="right-side"> <%= @profile.job_title %></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">department </strong></span><span id="right-side"><%= @profile.department.department %></span></p></li>
          <li class="list-group-item text-muted" id="top-border"><span><p><strong class="group-name"></strong></span><span id="right-side"></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">lunch typ</strong></span><span id="right-side">outside</span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">lunches</strong></span><span id="right-side"> 10</span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">messages</strong></span><span id="right-side">3</span></p></li>
          <li class="list-group-item text-muted" id="top-border"><span><p><strong class="group-name"></strong></span><span id="right-side"></span></p></li>
          <li class="list-group-item text-muted"><span id="company-details"><p><strong class="group-name">description</strong></span><span id="right-side"></span></p></li>
          <p id="descr"><%=@profile.description%></p>
        </ul>
        <div>
          <div class="panel-body" id="top-icons">
            <%#= link_to @pofile.facebook do %>
            <i class="fab fa-facebook fa-3x"></i>
            <%# end %>
            <%#= link_to @pofile.linked do %>
            <i class="fab fa-linkedin fa-3x"></i>
            <%# end %>
            <%#= link_to @pofile.xing do %>
            <i class="fab fa-xing-square fa-3x"></i>
            <%# end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" contenteditable="false" id="date-card">
     <% if current_user.next_lunch.nil? %>

     <div class="lunch-date" id="date-container" style="min-height: 100px !important;">
      <h1 class="saving" style="margin-bottom: 0px !important; padding-top: 12px !important; color: #00a0e1 ">Pending lunch<span>.</span><span>.</span><span>.</span></h1>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
      </div>
    </div>

    <% else %>

    <div class="lunch-date" id="date-container">
      <i class="fas fa-map-marked-alt click"></i>
      <h1>Your Next Lunch Date</h1>
      <h4>
        <%= current_user.next_lunch.date.strftime("%a %b %d") %>
        | LUNCH TYPE
        <%= current_user.next_lunch.kind %>
        | Ask
        <%= current_user.next_lunch.other_user(current_user).profile.first_name %>
      </h4>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="review-cards">
          <div class="thumbnail avatar-user">
            <%= cl_image_tag( current_user.next_lunch.other_user(current_user).profile.photo, :transformation=>[{:width=>150, :height=>150, :gravity=>"face", :radius=>"max", :crop=>"crop"},]) %>
            <div class="caption">
              <section>
                <div class="col-md-12">
                  <div class="panel-group"  id="lunch-profile">
                    <div class="panel panel-default-1">
                      <div class="accordion-toggle question-toggle collapsed" data-parent="#faqAccordion" data-target="#question0" data-toggle="collapse">
                        <h3 class="panel-name">
                          <a href="#question0" name="question0" class="panel-head"></a>
                          <%= current_user.next_lunch.other_user(current_user).profile.first_name %> <%= current_user.next_lunch.other_user(current_user).profile.last_name %> <i class="fas fa-angle-down arrow"></i>
                        </h3>
                      </div>
                      <div class="panel-collapse collapse" id="question0">
                        <div class="panel-lunch">
                          <h4><%= current_user.next_lunch.other_user(current_user).profile.job_title %></h4>
                          <p><%= current_user.next_lunch.other_user(current_user).profile.department_id %></p>
                          <hr id="hr-conf">
                          <p><%= current_user.next_lunch.other_user(current_user).profile.description %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="icons-lunch-date">
                <%#= link_to @pofile.facebook do %>
                <i class="fab fa-facebook"></i>
                 <%# end %>
                <%#= link_to @pofile.linkedin do %>
                <i class="fab fa-linkedin"></i>
                 <%# end %>
                <%#= link_to @pofile.xing do %>
                <i class="fab fa-xing-square"></i>
                 <%# end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= link_to "Confirm", profile_path(current_user), class: "btn btn-primary" %>
      </div>
    </div>

    <% end %>

    <div class="lunch-date hidden" id="map-container">
     <i class="fas fa-address-card click2"></i>
     <div class="card-large" id="map_all" data-lat="<%= @profile.latitude %>" data-lng="<%= @profile.longitude %>"></div>
   </div>
   <div class="form-post" id="messages">
    <h1>Messages</h1>
    <%= link_to conversations_path do %>
          <i class="far fa-edit" id="imes"></i>
    <% end  %>
    <div class="row message-cards avatar-user">
      <div class="">
        <img alt="300x200" src="https://source.unsplash.com/300x200/?portrait" class="avatar-user">
        <div class="caption">
          <h3>
            Robert Lewandowski
          </h3>
          <p>
            "Gonna score next game, I promise!"
          </p>
          <h4>Mittwoch</h4>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="row message-cards avatar-user">
      <div class="">
        <div class="caption">
          <div class="img-review">
            <img alt="300x200" src="https://source.unsplash.com/300x200/?face">
          </div>
          <h3>
            Frank Ribery
          </h3>
          <p>
            "Do you like to lunch sometime soon?"
          </p>
          <h4>Dienstag</h4>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="row message-cards avatar-user">
      <div class="">
        <img alt="200x200" src="https://source.unsplash.com/200x200/?profile">
        <div class="caption">
          <h3>
            Arjen Robben
          </h3>
          <p>
            "Pls tell me the name of the restaurant again."
          </p>
          <h4>Montag</h4>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="card" id="map_footer">
      </div> -->
</div>
</div>
</div>
