<div class="newcontainer">
  <h2 class="text-center">INBOX</h2>
  <i class="fas fa-arrow-left"><%= link_to "Profile", profile_path(current_user) %> </i>
  <div class="row messaging inboxcontainer">
    <div class="col-sm-8">
    <ul class="list-group list-group-flush">
      <h3>recent messages</h3>
      <% @conversations.each do |conversation| %>
        <li class="list-group-item" data-conversation-id="<%= conversation.id %>">
          <%= link_to conversation_messages_path(conversation) do %>
            <%= cl_image_tag(conversation.receiver.profile.photo, class: 'avatar', transformation: [{ width: 500, height: 500, gravity: "face", radius: "max", crop: "crop"}]) %>
            <%= conversation.receiver.profile.first_name %>
            <%= conversation.receiver.profile.last_name %>
            <i class="far fa-edit"></i>
          <% end %>
          <% if !conversation.unread_message_count(current_user).zero? %>
            <span class="badge far fa-envelope"><%= conversation.unread_message_count(current_user) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <h3>your colleagues</h3>
      <ul id="users" class="list-group list-group-flush">
      <% @users.each do |user| %>
        <li class="list-group-item" data-searchstring="<%= user.email %>" >

          <%= link_to (user.profile.first_name + " " + user.profile.last_name), conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %>
          <i class="far fa-edit"></i>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>

</div>
