


<div class="newcontainer">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="mesgs">
          <div class="msg_history">
            <% conversation.messages.each do |message| %>
            <% if message.body %>
            <div class=" <%= message.user == current_user ? "incoming_msg " : "outgoing_msg" %>">
              <div class=" <%= message.user == current_user ? "incoming_msg_img" : " outgoing_msg_img" %>">
                <% if message.user == current_user %>
                <%= cl_image_tag(current_user.profile.photo, :transformation=>[{:width=>1200, :height=>1200, :gravity=>"face", :radius=>"max", :crop=>"crop"},]) %>
                <% else %>
                <%= cl_image_tag(@other_user.profile.photo, :transformation=>[{:width=>1200, :height=>1200, :gravity=>"face", :radius=>"max", :crop=>"crop"},]) %>
                <% end %>
              </div>
            </div>
            <div class=" <%= message.user == current_user ? "outgoing_msg" : "received_msg" %>">
              <div class=" <%= message.user == current_user ? "sent_msg" : "received_withd_msg" %>">

                <p><%= message.body %></p>
                <p><%= message.user.email%></p>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="type_msg">
          <%= form_for [conversation, message] do |f| %>
          <div class="input_msg_write">
            <%= f.text_area :body, autofocus: true,class: "form-control text-right", id: "exampleFormControlTextarea1", rows: "3" ,placeholder: "Type a message"%>
          </div>
          <%= f.submit "send",remote: true, class: "btn btn-primary float-right", value: "Submit"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


