<div class="grey-wrapper">
  <div class="container login-container text-center">
    <div id="signup">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <div class="header-line">
            <p class="header-line">
              <span>EDIT YOUR COMPANY</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <div class="form-inputs" id="setup">
            <%= simple_form_for @company do |f| %>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
              <% if current_user.photo.blank? %>
                <div class="company-placeholder">
                  <i class="fas fa-image"></i>
                </div>
              <% else %>
                <%= cl_image_tag current_user.photo, class: "company-logo" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">

            </div>
            <%= f.input :name, placeholder: "Name", as: :string %>
            <%= f.input :email, placeholder: "Email" %>
            <%= f.input :address, placeholder: "Address", as: :string %>
            <%= f.input :locations, placeholder: 'Locations' %>
            <%= f.input :departments, required: false, as: :check_boxes, collection: Department.all, class: "collection_form", prompt: "Departmenttest", label_method: -> (department){department.department} %>
            <%= f.input :employee, collection: ["Employees 1-50", "Employees 51-200", "Employees 201-1,000", "Employees 1,001-5,000", "Employees 5000+"], class: "collection_form", prompt: "Employee range" %>
          <div class="form-actions">
            <button type="button" class="button btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
              SAVE CHANGES
            </button>
          </div>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">EDIT COMPANY ACCOUNT</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Do you like to save your current changes?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                  <%= f.button :submit, "SAVE CHANGES", :class => "button btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <div class="divider">
            <hr>
          </div>
          <%= link_to "", profile_path, class: 'fas fa-backward' %>
      </div>
      <% end %>
        </div>
          </div>
    </div>
  </div>
</div>
